# Lecture 06 - 2024.05.11

## Function in python

In [40]:
a = 1
b = 2
a + b

3

In [41]:
a = 10
b = 20
a + b

30

In [42]:
def test1(x, y):
    print( x + y)

test1(10, 20)

30

In [43]:
test1

In [44]:
test1()

TypeError: test1() missing 2 required positional arguments: 'x' and 'y'

In [45]:
test1(1, 3)

4

In [46]:
test1(8, 9)

17

In [47]:
test1(55, 66)

121

In [48]:
def test2(a, b):
    return a * b #Return will return exact data type

In [49]:
test2(2, 8)

16

In [50]:
test1(5, 6) + 6

11

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [51]:
test1(5, 5) + 10

10

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [ ]:
type(test1(5, 6))

In [52]:
type(test2(5, 5))

int

In [53]:
b = test1(2, 2)

4

In [54]:
b

In [55]:
b + 4

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [56]:
a = test2(5, 8)

In [57]:
a

40

In [58]:
a + 10

50

In [60]:
def test3(p, q, r):
    return p + q

In [61]:
test3(10, 15)

TypeError: test3() missing 1 required positional argument: 'r'

In [65]:
test3(10, 15, 25) #you have to full fill all the argument list

25

In [71]:
def test4(n, m):
    return n * 10, m * 20, m * m, n * n

In [72]:
test4(5, 10)

(50, 200, 100, 25)

In [73]:
type(test4(5, 10))

tuple

In [76]:
def test4(n, m):
    return n, m, n * m

In [77]:
test4(5, 10)

(5, 10, 50)

In [78]:
a, b, c = test4(5, 10)

In [79]:
a

5

In [80]:
b

10

In [81]:
c

50

In [83]:
type(a)

int

In [84]:
def test5(name, age):
    return name, age

In [86]:
name, age = test5("vithu", 23)

In [87]:
name

'vithu'

In [88]:
age

23

In [89]:
a, b = test4(5, 10)

ValueError: too many values to unpack (expected 2)

In [90]:
a, b, _ = test4(5, 10) #placeholder _

In [92]:
print(a, b)

5 10 50

In [93]:
print(a, b, _)

5 10 50

In [95]:
a, _, b = test4(5, 10)

In [96]:
a, b

(5, 50)

In [97]:
_, _, b = test4(5, 10)

In [98]:
_

10

In [99]:
_

10

In [100]:
_, _, _ = test4(5, 10)

In [102]:
_ #when you use many placeholeder it will override and give you last value

50

In [105]:
def test():
    print("This is my first function")

In [106]:
test()

This is my first function

In [107]:
def test7():
    return "This is my first function"

In [108]:
test7() + " i can add with you"

'This is my first function i can add with you'

In [109]:
def test8(n):
    return n * 2

In [110]:
test8([1, 2, 3])

[1, 2, 3, 1, 2, 3]

In [112]:
test8(50)

100

In [115]:
test8("Hello")

'HelloHello'

In [113]:
def test9(n):
    return n, n * 7 #When a function return multiple values it will return as tuple

In [116]:
b = test9([1, 2, 3])

In [117]:
b

([1, 2, 3], [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

In [118]:
b[0]

[1, 2, 3]

In [119]:
b[1]

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [128]:
def test10(n, m = 90):
    return n + m

In [129]:
test10(90)

180

In [140]:
def test10(n =  90, m): #default values should comes after non-default variables
    return n + m

SyntaxError: non-default argument follows default argument (2298756045.py, line 1)

In [141]:
def boolx(x = True, y = False):
    return x + y

In [142]:
boolx()

1

In [143]:
boolx(True, True)

2

In [138]:
boolx(True,)

1

In [139]:
True + False

1

In [144]:
def travel(bike = True, car = False):
    plan_travel = bike or car
    return bike, car, plan_travel

In [145]:
travel()

(True, False, True)

In [147]:
travel(True) #by default it will change first variable

(True, False, True)

In [148]:
travel(car = True)

(True, True, True)

In [149]:
del(_)

In [150]:
_

NameError: name '_' is not defined

In [151]:
travel(_, True)

NameError: name '_' is not defined

In [157]:
def test11(*args):
    return args

In [158]:
test11("vithusan", "Thas", 34, [1, 2, 3])

('vithusan', 'Thas', 34, [1, 2, 3])

### Task01

1. Create a function which will take any number of  list and return it concatinate of all the lists

In [225]:
#01
def task01(*args):
    c_list = []
    for i in args:
        c_list = c_list + i
    return c_list

In [229]:
task01([1, 2, 3], [4, 5], [6, 7], ["a", "b"], [8, 9], [10, 11], [12, 13], [14, 15])

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 8, 9, 10, 11, 12, 13, 14, 15]

In [230]:
task01([1, 2, 3], [4, 5])

[1, 2, 3, 4, 5]

In [236]:
def task2(*args):
    return [i for i in args]

In [237]:
task2([1, 2, 3], [4, 5], [6, 7])

[[1, 2, 3], [4, 5], [6, 7]]

In [239]:
task01("vithu", 213, [1, 2, 3])

TypeError: can only concatenate list (not "str") to list

In [240]:
def task3(*args):
    c_list = []
    for i in args:
        if type(i) == list:
            c_list = c_list + i
    return c_list

In [241]:
task3("vithu", 213, [1, 2, 3])

[1, 2, 3]

In [245]:
def test16(**kwargs): #key value pair
    return kwargs

In [246]:
test16()

{}

In [247]:
type(test16())

dict

In [248]:
test16(1, 2, 3)

TypeError: test16() takes 0 positional arguments but 3 were given

In [250]:
test16(a = 1, b = 2, c = 3)

{'a': 1, 'b': 2, 'c': 3}

In [251]:
test16(a : 1)

SyntaxError: invalid syntax (4179593983.py, line 1)

In [254]:
test16(a = True, b = "vithu", c = [1, 2, 3, 4, 5, 6, 7, 8], d = False)

{'a': True, 'b': 'vithu', 'c': [1, 2, 3, 4, 5, 6, 7, 8], 'd': False}

### Task 02

1. create a function to that take any number of mix data and try to create a list of seperate data  based on a datatype, and return multiple result.

2. Create a function wich will be able to use *args and **kwargs and it will be able to do all the list value concadination and return a list

In [260]:
#01
def task2(*args):
     # Initialize empty lists for each data type
    int_list = []
    float_list = []
    str_list = []
    bool_list = []
    other_list = []
    
    for i in args:
        if type(i) == int:
            int_list.append(i)
        elif type(i) == float:
             float_list.append(i)
        elif type(i) == str:
             str_list.append(i)
        elif type(i) == bool:
             bool_list.append(i)
        else:
            other_list.append(i)
            
    return int_list, float_list, str_list, bool_list, other_list

In [261]:
task2(10, 3.14, "hello", True, [1, 2, 3], {"a": 1}, None)

([10], [3.14], ['hello'], [True], [[1, 2, 3], {'a': 1}, None])

In [305]:
#alternative solution

def func(*args):
    dt = {}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
             dt[type(i)] = [i]
    return dt

In [312]:
func(10, 20, 3.14, "hello", True, [1, 2, 3], {"a": 1}, None, 5 + 6j, [2, 2, 2])

{int: [10, 20],
 float: [3.14],
 str: ['hello'],
 bool: [True],
 list: [[1, 2, 3], [2, 2, 2]],
 dict: [{'a': 1}],
 NoneType: [None],
 complex: [(5+6j)]}

In [275]:
#02
def task3(*args, **kwargs):
    l = []
    
    for i in args:
        if type(i) == list:
            l.extend(i)
            
    for j in kwargs.values():
        if type(j) == list:
            l.extend(i)
    return l

In [277]:
task3(1, [2, 3], a = 4, b = [5, 6])

[2, 3, 2, 3]

In [286]:
#02
def task3(*args, **kwargs):
    l = []
    l.extend(i for i in args if type(i) == list)
    l.extend(i for i in kwargs.values() if type(i) == list)
    return l

In [287]:
task3(1, [2, 3], a = 4, b = [5, 6])

[[2, 3], [5, 6]]

In [299]:
def test18(**kwargs):
    for i in kwargs.values():
        if type(i) == list:
            if "vithu" in i:
                print("iam able to find your name")
    return kwargs

In [313]:
test18(a = 1, b = 2, c = [1, 2, 3], name = ["vithu", "nila"], d = True, f = {1 : 2})

iam able to find your name

{'a': 1,
 'b': 2,
 'c': [1, 2, 3],
 'name': ['vithu', 'nila'],
 'd': True,
 'f': {1: 2}}