# Lecture 05 - 2024.05.09

## Tuples

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t1 = (22, 21, "vithu", 3.14, True)

In [4]:
l1 = [22, 21, "vithu", 3.14, True]

In [5]:
t1[0]

22

In [6]:
t1[5]

IndexError: tuple index out of range

In [ ]:
t1[0:4]

In [ ]:
t1[::-1]

In [7]:
l1[0]

22

In [8]:
l1[0] = 1111

In [9]:
l1

[1111, 21, 'vithu', 3.14, True]

In [10]:
t1[0]

22

In [11]:
t1[0] = 1111

TypeError: 'tuple' object does not support item assignment

In [12]:
t2 = (234, 556)

In [13]:
t1 + t2

(22, 21, 'vithu', 3.14, True, 234, 556)

In [14]:
22 in t1

True

In [15]:
"Hello" in t1

False

In [16]:
t1

(22, 21, 'vithu', 3.14, True)

In [17]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [18]:
t3 = (22, 23, 55, 88, 44)

In [19]:
max(t3)

88

In [20]:
t4 = ("appele", "B", "Z", "A")

In [21]:
max(t4)

'appele'

In [22]:
l1

[1111, 21, 'vithu', 3.14, True]

In [23]:
t4.index("B")

1

In [24]:
t4.index(34)

ValueError: tuple.index(x): x not in tuple

In [25]:
l1.index(22)

ValueError: 22 is not in list

In [26]:
t1

(22, 21, 'vithu', 3.14, True)

In [27]:
t1.count(22)

1

In [28]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [29]:
t3

(22, 23, 55, 88, 44)

In [30]:
min(t3)

22

In [31]:
min(t4)

'A'

In [32]:
t1

(22, 21, 'vithu', 3.14, True)

In [33]:
t5 = (90,)

In [34]:
t1 + t5

(22, 21, 'vithu', 3.14, True, 90)

In [35]:
#Convert tuple to list
lst = list(t1)

In [36]:
lst

[22, 21, 'vithu', 3.14, True]

In [37]:
lst.insert(3, 333)
lst.insert(4, 444)

In [38]:
lst

[22, 21, 'vithu', 333, 444, 3.14, True]

In [39]:
#Convert list into tuple
t1 = tuple(lst)

In [40]:
t1

(22, 21, 'vithu', 333, 444, 3.14, True)

In [41]:
t = ((3, 4, 5, 6), ("vithu", 45, 45), ("454", 54), [1, 2, 3])

In [42]:
t

((3, 4, 5, 6), ('vithu', 45, 45), ('454', 54), [1, 2, 3])

In [43]:
t[0]

(3, 4, 5, 6)

In [44]:
t[0][0]

3

In [45]:
t[3][:]

[1, 2, 3]

In [46]:
t[3][:2]

[1, 2]

In [47]:
for i in t:
    if type(i) == tuple:
        print(i[0])

3
vithu
454

In [48]:
t1

(22, 21, 'vithu', 333, 444, 3.14, True)

In [50]:
t2

(234, 556)

In [51]:
len(t1) == len(t2)

False

In [52]:
t = (22, 21, 'vithu', 333, 444, 3.14, True, 22, 21, 'vithu', 333, 444, 3.14, True)

In [53]:
uInput = input("Enter something : ")

if uInput in t:
    print("Your name is available")
else:
    print("Your name is not available")

Enter something : vithu
Your name is available

In [54]:
t

(22, 21, 'vithu', 333, 444, 3.14, True, 22, 21, 'vithu', 333, 444, 3.14, True)

In [55]:
l1

[1111, 21, 'vithu', 3.14, True]

In [56]:
del(21)

SyntaxError: cannot delete literal (302530423.py, line 1)

In [57]:
del(t)

In [58]:
t

NameError: name 't' is not defined

In [59]:
del(l1)

In [60]:
l1

NameError: name 'l1' is not defined

In [61]:
l = [12, 45, 6, 7]

In [360]:
tuple(x for x in range(5)) #tuple comphericonsion

(0, 1, 2, 3, 4)

## Sets - 2024.05.11

In [62]:
x = set()

In [63]:
type(x)

set

In [64]:
x

set()

In [78]:
l = [12, 35, 66, 88, 999, 12, 12, 444, 112, "vithu", "nila", 12, "Vithu"]

In [79]:
x = set(l)

In [80]:
x

{112, 12, 35, 444, 66, 88, 999, 'Vithu', 'nila', 'vithu'}

In [86]:
for i in x:
    print(i)

66
35
Vithu
nila
999
12
112
vithu
88
444

In [87]:
66 in x

True

In [84]:
x[0]

TypeError: 'set' object is not subscriptable

In [85]:
x{0}

SyntaxError: invalid syntax (509403736.py, line 1)

In [88]:
s = set()
s

set()

In [89]:
s.add(45)

In [90]:
s

{45}

In [91]:
s.add("vithu")

In [92]:
s.add("nila")

In [93]:
s.add((45, 56))

In [94]:
s.add([1, 2, 3])

TypeError: unhashable type: 'list'

In [95]:
s

{(45, 56), 45, 'nila', 'vithu'}

In [96]:
s.add(45)

In [97]:
s

{(45, 56), 45, 'nila', 'vithu'}

In [98]:
s.remove(45)

In [99]:
s

{(45, 56), 'nila', 'vithu'}

In [100]:
s.remove(45)

KeyError: 45

In [101]:
45 in s

False

In [102]:
s.clear()

In [103]:
s

set()

In [112]:
s1 = set(l)

In [113]:
s1

{112, 12, 35, 444, 66, 88, 999, 'Vithu', 'nila', 'vithu'}

In [114]:
l2 = [2, 4, 6, 8]

In [115]:
s2 = set(l2)

In [116]:
s2

{2, 4, 6, 8}

In [117]:
s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [118]:
s1 * 2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [119]:
s1

{112, 12, 35, 444, 66, 88, 999, 'Vithu', 'nila', 'vithu'}

In [121]:
l3 = list(s1)

In [122]:
l3

[66, 35, 'Vithu', 'nila', 999, 12, 112, 'vithu', 88, 444]

In [124]:
l3.append(11)

In [125]:
l3

[66, 35, 'Vithu', 'nila', 999, 12, 112, 'vithu', 88, 444, 11]

In [127]:
t2 = tuple(s1)

In [128]:
t2

(66, 35, 'Vithu', 'nila', 999, 12, 112, 'vithu', 88, 444)

In [129]:
set(t2)

{112, 12, 35, 444, 66, 88, 999, 'Vithu', 'nila', 'vithu'}

In [357]:
{i for i in range(10)} #set comphericonsion

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Dictionary

In [130]:
s[0]

TypeError: 'set' object is not subscriptable

In [137]:
x = {}#by default comppiler understand it is a dictionary

In [132]:
type(x)

dict

In [144]:
x1 = {34}

In [146]:
type(x1)

set

In [147]:
x = {"name" : "vithu", "age" : "23"}

In [148]:
x

{'name': 'vithu', 'age': '23'}

In [149]:
type(x)

dict

In [155]:
x1 = {"name" : "vithu", "age" : "23", "name" : "vithu", "key" : False, 2:4, 2.4:55}

In [156]:
x1

{'name': 'vithu', 'age': '23', 'key': False, 2: 4, 2.4: 55}

In [181]:
x2 = {"name" : "vithu", "age" : "23", "name2" : {"nila" : 1, "vithu" : 2}, "col" : [1, 2, 3], "tuple" : (3, 2, 1), "set" : {3, 1, 2}}

In [182]:
x2

{'name': 'vithu',
 'age': '23',
 'name2': {'nila': 1, 'vithu': 2},
 'col': [1, 2, 3],
 'tuple': (3, 2, 1),
 'set': {1, 2, 3}}

In [187]:
x3 = {"name" : "vithu", "age" : "23", "age" : "255"}
x3

{'name': 'vithu', 'age': '255'}

In [191]:
x4 = {"name" : "vithu", "age" : "23", "age2" : "23"}
x4

{'name': 'vithu', 'age': '23', 'age2': '23'}

In [193]:
x5 = {"key1" : ["value1", "valu2"], ["key2"] : {"key1" : "value1"}}
x5

{'key1': ['value1', 'valu2']}

In [194]:
x5 = {"key1" : ["value1", "valu2"], ("key2") : {"key1" : "value1"}}
x5

{'key1': ['value1', 'valu2'], 'key2': {'key1': 'value1'}}

In [195]:
x5 = {"key1" : ["value1", "valu2"], {"key1" : "value1"} : 25}
x5

TypeError: unhashable type: 'dict'

In [201]:
x2 = {"name" : "vithu", "age" : "23", "name2" : {"nila" : 1, "vithu" : 2}, "col" : [1, 2, 3], "tuple" : (3, 2, 1), "set" : {3, 1, 2}}

In [198]:
l = [1, 2, 3, 4]

In [200]:
l[3]

4

In [203]:
x2[0]

KeyError: 0

In [204]:
x2["name"]

'vithu'

In [205]:
x2["tuple"]

(3, 2, 1)

In [206]:
x2["col"]

[1, 2, 3]

In [208]:
x2["col"][2]

3

In [209]:
type(x2["col"])

list

In [215]:
x5 = {"key1" : ["value1", "valu2"], "key2" : {"key1" : [1, 2, 3, 4, 5]}}

In [216]:
x5["key2"]

{'key1': [1, 2, 3, 4, 5]}

In [217]:
type(x5["key2"])

dict

In [218]:
x5["key2"]["key1"]

[1, 2, 3, 4, 5]

In [219]:
type(x5["key2"]["key1"])

list

In [220]:
x5["key2"]["key1"][3]

4

In [222]:
x6 = {1:2}

In [223]:
x7 = {3:4}

In [224]:
x6 + x7

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [225]:
x6 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [226]:
x3

{'name': 'vithu', 'age': '255'}

In [227]:
x3["name"] = "nila"

In [228]:
x3

{'name': 'nila', 'age': '255'}

In [232]:
x3.keys()

dict_keys(['name', 'age'])

In [233]:
"age" in x3 #checking is available or not

True

In [236]:
for i in x3:
    print(i)

name
age

In [237]:
for i in x3.keys():
    print(x3[i])

nila
255

In [238]:
for i in x3.values():
    print(i)

nila
255

In [243]:
x2 = {"name" : "vithu", "age" : "23", "name2" : {"nila" : 1, "vithu" : 2}, "col" : [1, 2, 3], "tuple" : (3, 2, 1), "set" : {3, 1, 2}, 12:2, 2.5:1}

In [244]:
x2.values()

dict_values(['vithu', '23', {'nila': 1, 'vithu': 2}, [1, 2, 3], (3, 2, 1), {1, 2, 3}, 2, 1])

In [245]:
x2.keys()

dict_keys(['name', 'age', 'name2', 'col', 'tuple', 'set', 12, 2.5])

In [246]:
for i in x2.values():
    print(i, " : ", type(i))

vithu  :  <class 'str'>
23  :  <class 'str'>
{'nila': 1, 'vithu': 2}  :  <class 'dict'>
[1, 2, 3]  :  <class 'list'>
(3, 2, 1)  :  <class 'tuple'>
{1, 2, 3}  :  <class 'set'>
2  :  <class 'int'>
1  :  <class 'int'>

In [247]:
for i in x2.keys():
    print(x2[i], " : ", type(x2[i]))

vithu  :  <class 'str'>
23  :  <class 'str'>
{'nila': 1, 'vithu': 2}  :  <class 'dict'>
[1, 2, 3]  :  <class 'list'>
(3, 2, 1)  :  <class 'tuple'>
{1, 2, 3}  :  <class 'set'>
2  :  <class 'int'>
1  :  <class 'int'>

In [250]:
x2.items() #it will return dict elememnt list of tuple

dict_items([('name', 'vithu'), ('age', '23'), ('name2', {'nila': 1, 'vithu': 2}), ('col', [1, 2, 3]), ('tuple', (3, 2, 1)), ('set', {1, 2, 3}), (12, 2), (2.5, 1)])

In [249]:
type(x2.items())

dict_items

In [254]:
for i in x2.items():
    print(i)

('name', 'vithu')
('age', '23')
('name2', {'nila': 1, 'vithu': 2})
('col', [1, 2, 3])
('tuple', (3, 2, 1))
('set', {1, 2, 3})
(12, 2)
(2.5, 1)

In [256]:
for i in x2.items():
    print(i[0])

name
age
name2
col
tuple
set
12
2.5

In [257]:
x8 = {(3, 4, 5, 6) : "Hello World"}

In [258]:
x8

{(3, 4, 5, 6): 'Hello World'}

In [260]:
x8[(3, 4, 5, 6)]

'Hello World'

In [261]:
x2

{'name': 'vithu',
 'age': '23',
 'name2': {'nila': 1, 'vithu': 2},
 'col': [1, 2, 3],
 'tuple': (3, 2, 1),
 'set': {1, 2, 3},
 12: 2,
 2.5: 1}

In [262]:
len(x2)

8

In [263]:
e = {56 : {45, 78, 39}}

In [264]:
e[56]

{39, 45, 78}

In [269]:
e[56][0]

TypeError: 'set' object is not subscriptable

In [268]:
list(e[56])[0]

45

### Task 01

1. Take input as a paragraph by using input function.

2. Convert all of this input into list of words

3. Remove all the duplicate element from your list

4. Use above distinct elements as a key dictonary and assign your name as a value of all the key for dictionary

5. Try to print tuples of all the value

6. Try to print list of all the key

In [270]:
#01
word = input("Enter a para : ")

Enter a para : Data science and data analysis are both important disciplines in the field of data management and analysis, but they differ in several key ways. While both fields involve working with data, data science is more of an interdisciplinary field that involves the application of statistical, computational, and machine learning methods to extract insights from data and make predictions, while data analysis is more focused on the examination and interpretation of data to identify patterns and trends.

In [277]:
#02
wordList = word.split()
wordList

['Data',
 'science',
 'and',
 'data',
 'analysis',
 'are',
 'both',
 'important',
 'disciplines',
 'in',
 'the',
 'field',
 'of',
 'data',
 'management',
 'and',
 'analysis,',
 'but',
 'they',
 'differ',
 'in',
 'several',
 'key',
 'ways.',
 'While',
 'both',
 'fields',
 'involve',
 'working',
 'with',
 'data,',
 'data',
 'science',
 'is',
 'more',
 'of',
 'an',
 'interdisciplinary',
 'field',
 'that',
 'involves',
 'the',
 'application',
 'of',
 'statistical,',
 'computational,',
 'and',
 'machine',
 'learning',
 'methods',
 'to',
 'extract',
 'insights',
 'from',
 'data',
 'and',
 'make',
 'predictions,',
 'while',
 'data',
 'analysis',
 'is',
 'more',
 'focused',
 'on',
 'the',
 'examination',
 'and',
 'interpretation',
 'of',
 'data',
 'to',
 'identify',
 'patterns',
 'and',
 'trends.']

In [282]:
#03
dictinct = set(wordList)
dictinct

{'Data',
 'While',
 'an',
 'analysis',
 'analysis,',
 'and',
 'application',
 'are',
 'both',
 'but',
 'computational,',
 'data',
 'data,',
 'differ',
 'disciplines',
 'examination',
 'extract',
 'field',
 'fields',
 'focused',
 'from',
 'identify',
 'important',
 'in',
 'insights',
 'interdisciplinary',
 'interpretation',
 'involve',
 'involves',
 'is',
 'key',
 'learning',
 'machine',
 'make',
 'management',
 'methods',
 'more',
 'of',
 'on',
 'patterns',
 'predictions,',
 'science',
 'several',
 'statistical,',
 'that',
 'the',
 'they',
 'to',
 'trends.',
 'ways.',
 'while',
 'with',
 'working'}

In [321]:
#04
wordDict = {}

dictinctList = list(dictinct)

for i in dictinctList:
    wordDict[i] = "vithusan"

In [338]:
#05
for i in wordDict.items():
    print(i[1])

vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan
vithusan

In [335]:
#06
wordDict.keys()

dict_keys(['an', 'statistical,', 'analysis,', 'application', 'science', 'important', 'with', 'methods', 'make', 'both', 'learning', 'While', 'working', 'field', 'interdisciplinary', 'while', 'extract', 'data,', 'from', 'that', 'the', 'insights', 'Data', 'disciplines', 'differ', 'identify', 'key', 'patterns', 'of', 'interpretation', 'machine', 'but', 'predictions,', 'to', 'they', 'several', 'data', 'involve', 'on', 'fields', 'is', 'trends.', 'involves', 'in', 'more', 'focused', 'management', 'computational,', 'analysis', 'are', 'and', 'ways.', 'examination'])

In [344]:
d = {"company":"vnPro", "Mobile": "Apple and Andriod", "year" : 2020}

In [345]:
d.keys()

dict_keys(['company', 'Mobile', 'year'])

In [346]:
d["year"] > 2021

False

In [348]:
if i in d:
    if i == "year":
        if d[i] < 2021:
            print("Year is fine")
        else:
            d[i] = 2022

In [349]:
d

{'company': 'vnPro', 'Mobile': 'Apple and Andriod', 'year': 2020}

In [350]:
my_dict = {}

for i in range(10):
    my_dict[i] = i * i

In [351]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [356]:
{i : i * i for i in range(1, 10, 2)} #dictionary comphericonsion

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}