# Descriptive Statistics

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Sample dataset
data = [12, 15, 13, 17, 19, 21, 23, 18, 20, 22, 24, 16, 14, 20, 18]

In [15]:
# Convert to a pandas DataFrame
df = pd.DataFrame(data, columns = ["Values"])

In [16]:
df

    Values
0       12
1       15
2       13
3       17
4       19
5       21
6       23
7       18
8       20
9       22
10      24
11      16
12      14
13      20
14      18

##### Calculate Mean Using Pandas

In [30]:
# Calculate the mean of all numeric columns in a DataFrame
# By default, it calculates the mean column-wise 
df.mean()

Values    18.133333
dtype: float64

In [27]:
# calculate mean of a single column
mean_value = df["Values"].mean()

In [28]:
mean_value

18.133333333333333

In [31]:
# calculate mean row-wise
df.mean(axis = 1)

0     12.0
1     15.0
2     13.0
3     17.0
4     19.0
5     21.0
6     23.0
7     18.0
8     20.0
9     22.0
10    24.0
11    16.0
12    14.0
13    20.0
14    18.0
dtype: float64

In [32]:
# calculate mean using describe() function
df.describe()

          Values
count  15.000000
mean   18.133333
std     3.642344
min    12.000000
25%    15.500000
50%    18.000000
75%    20.500000
max    24.000000

In [33]:
type(df.describe())

pandas.core.frame.DataFrame

In [36]:
df["Values"].describe()

count    15.000000
mean     18.133333
std       3.642344
min      12.000000
25%      15.500000
50%      18.000000
75%      20.500000
max      24.000000
Name: Values, dtype: float64

In [38]:
df["Values"].describe()["mean"]

18.133333333333333

In [41]:
# calculate mean using groupby() function
df.groupby("Category")["Values"].mean()

KeyError: 'Category'