### Lecture 05

In [1]:
print("Hello World!")

Hello World!

In [2]:
print('Hello World!')

Hello World!

In [4]:
print("This is my first Program")

This is my first Program

#### Variables

In [5]:
a = 10

In [6]:
a

10

In [7]:
type(a)

int

In [8]:
b = "vithu"

In [9]:
type(b)

str

In [14]:
print(b, a)

vithu 10

In [16]:
print(b, a, sep = "           ")

vithu           10

In [17]:
a = 45
b = "vithu"

In [18]:
a, b = 45, "vithu"

In [22]:
a, b

(45, 'vithu')

In [23]:
2b = 20

SyntaxError: invalid decimal literal (3179799289.py, line 1)

In [24]:
_b = "vithu"

In [25]:
_b

'vithu'

In [26]:
b& = "test"

SyntaxError: invalid syntax (1473570635.py, line 1)

In [27]:
#make variable with meanign fully
name = "vithu"
userId = "2020ICTS89"
password = "74841234"
main = "abc@gmail.com"

In [28]:
a = 1.6

In [29]:
a

1.6

In [30]:
type(a)

float

In [31]:
dtype.a

NameError: name 'dtype' is not defined

In [32]:
b = 3.154897984657894654

In [33]:
b

3.154897984657895

In [35]:
type(b)

float

In [36]:
a = True
b =False

In [37]:
type(a)

bool

In [38]:
type(b)

bool

In [44]:
#Task 01
True + True + False + True + True #1 + 1 + 0 + 1 + 1

4

In [49]:
False - True + True #0 - 1 + 1

0

In [50]:
True * True

1

In [51]:
True / False

ZeroDivisionError: division by zero

In [61]:
#Complex Number --> RealNumber + ImagineryNumber
a = 45 + 6j

In [55]:
a

(45+6j)

In [56]:
type(a)

complex

In [57]:
a.real

45.0

In [59]:
a.imag

6.0

In [62]:
b = 6 - 5j

In [63]:
a + b

(51+1j)

In [64]:
5 + "vithu"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [67]:
5 * "vithu"

'vithuvithuvithuvithuvithu'

In [68]:
5 / "vithu"

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [70]:
str(5) + "vithu"

'5vithu'

In [71]:
1 + 2.0

3.0

In [72]:
"vithu" + "vithu" + "vithu"

'vithuvithuvithu'

In [73]:
"vithu" * 3

'vithuvithuvithu'

In [74]:
int("vithu")

ValueError: invalid literal for int() with base 10: 'vithu'

In [76]:
int('25')

25

In [78]:
type(int("25"))

int

In [77]:
int("100")

100

In [79]:
type(int("100"))

int

In [80]:
a = 10

In [81]:
a = input()

45

In [82]:
a

'45'

In [83]:
b = input("Ënter a integer : ")

Ënter a integer : 555555555

In [84]:
type(b)

str

Task 02

step 1 --> Take integer input from user to a, b, c

step 2 --> d = (a + b) / c

step 3 --> (d + complexNumber)

step 4 --> 01 + "Your Name"

In [93]:
a = int(input("Enter a Number 1 : "))
b = int(input("Enter a Number 2 : "))
c = int(input("Enter a Number 3 : "))
step2 = (a + b) / c
complexNumber = 5j
step3 = step2 + complexNumber
step4 = "01" + "vithusan.v"

print("Step2 O/P : ", step2)
print("Step3 O/P : ", step3)
print("Step4 O/P : ", step4)

Enter a Number 1 : 10
Enter a Number 2 : 10
Enter a Number 3 : 5
Step2 O/P :  4.0
Step3 O/P :  (4+5j)
Step4 O/P :  01vithusan.v

In [1]:
a = int(input("Enter a number lesser than 34 : "))

Enter a number lesser than 34 : 53

In [2]:
if a < 34:
    pass

In [3]:
if a < 34:

SyntaxError: incomplete input (1265387293.py, line 1)

In [5]:
a = int(input("Enter a number lesser than 34 : "))
if a < 34:
    print("Data input is lesser than 34 and i am fine with it")

Enter a number lesser than 34 : 4
Data input is lesser than 34 and i am fine with it

In [7]:
if a < 10:
    print("Line 1")
    print("Line 2")
    print("Line 3")

Line 1
Line 2
Line 3

In [8]:
a = int(input("Enter a number lesser than 34 : "))
if a < 34:
    print("Data input is lesser than 34 and i am fine with it")
else:
    print("Data input is not lesser than 34")

Enter a number lesser than 34 : 444
Data input is not lesser than 34

In [9]:
a = int(input("Enter a number lesser than 34 : "))
if a < 34:
    print("Data input is lesser than 34 and i am fine with it")
elif a < 100:
    print("my data is lesser than 100")
else:
    print("Data input is not lesser than 34")

Enter a number lesser than 34 : 47
my data is lesser than 100

In [11]:
salary = int(input("Enter your salary : "))

if salary > 1000:
    print("I will buy a car")
elif salary > 500:
    print("I will go for bike")
elif salary > 100:
    print("I will not buy anything")
else:
    print("I will go for saving")

Enter your salary : 4
I will go for saving

In [2]:
salary > 1000

False

In [3]:
lst = list(input("Enter some input : "))

Enter some input : 123456789

In [4]:
lst

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [17]:
salary = int(input("Enter your salary : "))

if salary > 1000:
    print("Part 1")
elif salary > 500:
    print("Part 2")

Enter your salary : 5654
Part 1