# MySQL

#### Connect MySQL With Python

In [2]:
import mysql.connector as connection

try:
    # Establish connection to MySQL server
    mydb = connection.connect(
        host="localhost",
        user="root",
        password="mysql"
    ) 
    
    # Define SQL query to show databases
    query = "SHOW DATABASES"
    
    # Create cursor object to execute queries
    cur = mydb.cursor()
    
    # Execute the query "all the results will store in the cur object"
    cur.execute(query)
    
    # Fetch all rows (databases) from the result set
    databases = cur.fetchall()
    
    # Print the list of databases
    print(databases)
    
except Exception as e:
    # Close connection if an error occurs
    mydb.close()
    print(str(e))

[('acp',), ('datascience1',), ('datascience2',), ('information_schema',), ('mysql',), ('performance_schema',), ('sys',), ('test01',)]

In [3]:
import mysql.connector as connection

In [4]:
# The connect() method is used to establish a connection to a MySQL database from a Python program.
mydb = connection.connect(
        host = "localhost",
        user = "root",
        password = "mysql",
        use_pure = True
    )

In [5]:
mydb

In [6]:
# A cursor is an object used to execute SQL queries, retrieve data, and manage the result set in a database.
cur = mydb.cursor()

In [7]:
cur

In [8]:
cur.execute("SHOW DATABASES")

In [9]:
#type(cur.execute("show databases"))

In [10]:
# fetch all databases
res = cur.fetchall()

In [11]:
res

[('acp',),
 ('datascience1',),
 ('datascience2',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test01',)]

In [12]:
res[0]

('acp',)

In [13]:
for i in res:
    print(i[0])

acp
datascience1
datascience2
information_schema
mysql
performance_schema
sys
test01

#### Create New Database
- CREATE DATABASE database_name;

In [14]:
query = "CREATE DATABASE datascience2"
cur.execute(query)

DatabaseError: 1007 (HY000): Can't create database 'datascience2'; database exists

In [22]:
cur.execute("SHOW DATABASES")

In [23]:
cur.fetchall()

[('acp',),
 ('datascience1',),
 ('datascience2',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test01',)]

#### Create New Table
````
CREATE TABLE table_name (
    column1 datatype constraints,
    column2 datatype constraints,
    ...
);
````

In [ ]:
import mysql.connector as connection

In [24]:
mydb = connection.connect(
    host = "localhost",
    user = "root",
    password = "mysql",
    db = "datascience1"
)

In [25]:
mydb.is_connected()

True

In [32]:
cur = mydb.cursor()

InternalError: Unread result found

In [27]:
query = "CREATE TABLE test(x1 INT(5), x2 VARCHAR(20), x3 DATE)"
cur.execute(query)

ProgrammingError: 1050 (42S01): Table 'test' already exists

In [31]:
cur.execute("SHOW TABLES")

InternalError: Unread result found

In [29]:
cur.fetchall()

[('employee',), ('test',)]

In [30]:
cur.execute("DESCRIBE test")

In [18]:
cur.fetchall()

[]

#### Insert data to a Table
```
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);
```

In [19]:
# create a table employee and then insert data into that
query = """
CREATE TABLE employee(
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(30) NOT NULL,
    age INT,
    department VARCHAR(50)
)
"""
cur.execute(query)

ProgrammingError: 1046 (3D000): No database selected

In [20]:
insert_query = """
INSERT INTO employee(name, age, department)
VALUES (%s, %s, %s)
"""

data = [
    ("vithusan", 23, "ICT"),
    ("Niranjala", 23, "Eng")
]

cur.executemany(insert_query, data)
mydb.commit()

ProgrammingError: 1046 (3D000): No database selected

In [62]:
query = """
INSERT INTO employee(name, age, department)
VALUES ("2024.06.17", 22, "Maths")
"""

cur.execute(query)
mydb.commit()
cur.close()

True

In [63]:
import mysql.connector as connection

In [64]:
mydb = connection.connect(
    host = "localhost",
    user = "root",
    password =  "mysql",
    db = "student"
)

In [65]:
mydb.is_connected()

True

In [73]:
cur = mydb.cursor()

In [74]:
cur.execute("SHOW TABLES")

In [75]:
cur

In [76]:
cur.fetchall()

[('stinfo',)]

In [86]:
cur.execute("DESC stinfo")

In [87]:
cur.fetchall()

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('stname', 'varchar(30)', 'NO', '', None, ''),
 ('phone', 'varchar(15)', 'NO', '', None, '')]

In [89]:
query = """
INSERT INTO stinfo(stname, phone)
VALUES (%s, %s)
"""

In [90]:
data = [
    ("Vithusan", "0778690410"),
    ("Niranjala", "077120"),
    ("A", "5"),
    ("B", "5555"),
    ("C", "44"),
    ("D", "5552"),
    ("E", "78")
]

In [91]:
cur.executemany(query, data)
mydb.commit()

In [94]:
cur.execute("SELECT * FROM stinfo")

In [95]:
cur.fetchall()

[(1, 'Vithusan', '0778690410'),
 (2, 'Niranjala', '077120'),
 (3, 'A', '5'),
 (4, 'B', '5555'),
 (5, 'C', '44'),
 (6, 'D', '5552'),
 (7, 'E', '78')]

#### Fetching data from database
- **`fetchall()`**: Fetches all rows from the result set.
- **`fetchone()`**: Fetches one row at a time.
- **`fetchmany(size)`**: Fetches a specified number of rows.

In [109]:
cur.execute("SELECT * FROM stinfo")

In [110]:
cur.fetchall()

[(1, 'Vithusan', '0778690410'),
 (2, 'Niranjala', '077120'),
 (3, 'A', '5'),
 (4, 'B', '5555'),
 (5, 'C', '44'),
 (6, 'D', '5552'),
 (7, 'E', '78')]

In [111]:
cur.execute("SELECT * FROM stinfo")

In [112]:
cur.fetchone()

(1, 'Vithusan', '0778690410')

In [114]:
cur.fetchall()

[(2, 'Niranjala', '077120'),
 (3, 'A', '5'),
 (4, 'B', '5555'),
 (5, 'C', '44'),
 (6, 'D', '5552'),
 (7, 'E', '78')]

In [120]:
cur.execute("SELECT * FROM stinfo")

In [121]:
cur.fetchmany(2)

[(1, 'Vithusan', '0778690410'), (2, 'Niranjala', '077120')]

In [122]:
cur.fetchall()

[(3, 'A', '5'),
 (4, 'B', '5555'),
 (5, 'C', '44'),
 (6, 'D', '5552'),
 (7, 'E', '78')]

In [124]:
cur.execute("SELECT id, stname FROM stinfo")
cur.fetchall()

[(1, 'Vithusan'),
 (2, 'Niranjala'),
 (3, 'A'),
 (4, 'B'),
 (5, 'C'),
 (6, 'D'),
 (7, 'E')]

In [126]:
cur.execute("SELECT id FROM stinfo")

for i in cur.fetchall():
    print(i)

(1,)
(2,)
(3,)
(4,)
(5,)
(6,)
(7,)

In [129]:
cur.execute("SELECT stname FROM stinfo")

for i in cur.fetchall():
    print(i)

('Vithusan',)
('Niranjala',)
('A',)
('B',)
('C',)
('D',)
('E',)

#### Display the SQL Output in Data Frame Using Pandas

In [131]:
import pandas as pd

In [132]:
query = """
SELECT * FROM stinfo
"""

In [134]:
df = pd.read_sql(query, mydb)

C:\Users\Admin\AppData\Local\Temp\ipykernel_43228\2281415734.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mydb)

In [135]:
df

   id     stname       phone
0   1   Vithusan  0778690410
1   2  Niranjala      077120
2   3          A           5
3   4          B        5555
4   5          C          44
5   6          D        5552
6   7          E          78

In [139]:
df = pd.read_sql("SELECT stname FROM stinfo", mydb)

C:\Users\Admin\AppData\Local\Temp\ipykernel_43228\548716559.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT stname FROM stinfo", mydb)

In [140]:
df

      stname
0   Vithusan
1  Niranjala
2          A
3          B
4          C
5          D
6          E

In [141]:
df.to_csv("mydata.csv")

In [142]:
mydb

In [144]:
query = """
CREATE TABLE mydata(
    n1 INT(20),
    n2 VARCHAR(20),
    n3 DATE
)
"""

In [145]:
cur.execute(query)

In [146]:
cur.execute("SHOW TABLES")
cur.fetchall()

[('mydata',), ('stinfo',)]

In [152]:
data = pd.read_csv("mydata.csv")
data

   Unnamed: 0     stname
0           0   Vithusan
1           1  Niranjala
2           2          A
3           3          B
4           4          C
5           5          D
6           6          E

In [154]:
data.to_sql("mydata", mydb)

C:\Users\Admin\AppData\Local\Temp\ipykernel_43228\623288453.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data.to_sql("mydata", mydb)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [155]:
cur.execute("DESC mydata")

In [156]:
cur.fetchall()

[('n1', 'int', 'YES', '', None, ''),
 ('n2', 'varchar(20)', 'YES', '', None, ''),
 ('n3', 'date', 'YES', '', None, '')]