# MySQL

#### Connect MySQL With Python

In [65]:
import mysql.connector as connection

try:
    # Establish connection to MySQL server
    mydb = connection.connect(
        host="localhost",
        user="root",
        password="mysql"
    ) 
    
    # Define SQL query to show databases
    query = "SHOW DATABASES"
    
    # Create cursor object to execute queries
    cur = mydb.cursor()
    
    # Execute the query "all the results will store in the cur object"
    cur.execute(query)
    
    # Fetch all rows (databases) from the result set
    databases = cur.fetchall()
    
    # Print the list of databases
    print(databases)
    
except Exception as e:
    # Close connection if an error occurs
    mydb.close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [26]:
import mysql.connector as connection

In [44]:
# The connect() method is used to establish a connection to a MySQL database from a Python program.
mydb = connection.connect(
        host = "localhost",
        user = "root",
        password = "mysql",
        use_pure = True
    )

In [45]:
mydb

In [46]:
# A cursor is an object used to execute SQL queries, retrieve data, and manage the result set in a database.
cur = mydb.cursor()

In [47]:
cur

In [48]:
cur.execute("SHOW DATABASES")

In [50]:
#type(cur.execute("show databases"))

In [51]:
# fetch all databases
res = cur.fetchall()

In [52]:
res

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [57]:
res[0]

('information_schema',)

In [64]:
for i in res:
    print(i[0])

information_schema
mysql
performance_schema
sys

#### Create New Database
- CREATE DATABASE database_name;

In [67]:
query = "CREATE DATABASE datascience2"
cur.execute(query)

In [69]:
cur.execute("SHOW DATABASES")

In [71]:
cur.fetchall()

[('datascience1',),
 ('datascience2',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test01',)]

#### Create New Table
````
CREATE TABLE table_name (
    column1 datatype constraints,
    column2 datatype constraints,
    ...
);
````

In [1]:
import mysql.connector as connection

In [2]:
mydb = connection.connect(
    host = "localhost",
    user = "root",
    password = "mysql",
    db = "datascience1"
)

In [3]:
mydb.is_connected()

True

In [4]:
cur = mydb.cursor()

In [7]:
query = "CREATE TABLE test(x1 INT(5), x2 VARCHAR(20), x3 DATE)"
cur.execute(query)

In [8]:
cur.execute("SHOW TABLES")

In [9]:
cur.fetchall()

[('test',)]

In [11]:
cur.execute("DESCRIBE test")

In [12]:
cur.fetchall()

[('x1', 'int', 'YES', '', None, ''),
 ('x2', 'varchar(20)', 'YES', '', None, ''),
 ('x3', 'date', 'YES', '', None, '')]

#### Insert data to a Table
```
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);
```

In [13]:
# create a table employee and then insert data into that
query = """
CREATE TABLE employee(
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(30) NOT NULL,
    age INT,
    department VARCHAR(50)
)
"""
cur.execute(query)

In [26]:
insert_query = """
INSERT INTO employee(name, age, department)
VALUES (%s, %s, %s)
"""

data = [
    ("vithusan", 23, "ICT"),
    ("Niranjala", 23, "Eng")
]

cur.executemany(insert_query, data)
mydb.commit()

#### Fetch data
```
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);
```