### Operators in Python

In [1]:
a = 10
b = 20

if a == 10 and b == 20:
    print("This is a valid statement!")

This is a valid statement!

In [2]:
a == 10 and b == 20

True

In [3]:
if a == 10 and b > 20:
    print("This is a valid statement!")
elif a == 10 and b <= 20:
    print("This is a valid inside elif")
else:
    print("condition is not valid")

This is a valid inside elif

In [4]:
if a == 10 or b > 20:
    print("This is a valid statement!")
elif a == 10 and b <= 20:
    print("This is a valid inside elif")
else:
    print("condition is not valid")

This is a valid statement!

Task 01

Take a input from your keyboard as your first name and last name and then try to validate write multiple condition by yourself

In [5]:
fName = "vimalathas"
lName = "vithusan"

fNameIn = input("Enter first name : ")
lNameIn = input("Enter last name : ")

if fName == fNameIn and lName == lNameIn:
    print("Validate")
else:
    print("Not Validate")

Enter first name : vithu
Enter last name : vithu
Not Validate

In [6]:
if a == 10: print("This is valid")

This is valid

In [7]:
#While statemnt
a = 1

while a < 5:
    print(a)
    a = a + 1

1
2
3
4

In [8]:
a = 1

while (a < 5):
    print(a)
    a = a + 1

1
2
3
4

### String

In [9]:
a = "vithu"

In [10]:
a

'vithu'

In [11]:
b = 'vithu'

In [12]:
b

'vithu'

In [13]:
c = "This is my first class for full stack data science"

In [14]:
c

'This is my first class for full stack data science'

In [15]:
len(c)

50

In [16]:
c[-1:]

'e'

In [22]:
for i in range(len(c)):
    print(c[-i])

T
e
c
n
e
i
c
s

a
t
a
d

k
c
a
t
s

l
l
u
f

r
o
f

s
s
a
l
c

t
s
r
i
f

y
m

s
i

s
i
h

In [18]:
for i in range(len(c)):
    print(c[-i])

T
e
c
n
e
i
c
s

a
t
a
d

k
c
a
t
s

l
l
u
f

r
o
f

s
s
a
l
c

t
s
r
i
f

y
m

s
i

s
i
h

In [19]:
c[: : -1]

'ecneics atad kcats lluf rof ssalc tsrif ym si sihT'

In [4]:
s = "abcdefghi"

In [19]:
s[::-1]

'ihgfedcba'

In [20]:
c[1] = "Z" #string immutable

TypeError: 'str' object does not support item assignment

In [23]:
"vithu" + 3

TypeError: can only concatenate str (not "int") to str

In [24]:
"vithu" + str(3)

'vithu3'

In [25]:
"vithu" + ["Name"]

TypeError: can only concatenate str (not "list") to str

In [27]:
"vithu" + str(["Name"])

"vithu['Name']"

In [28]:
s = "my name is"

In [29]:
s

'my name is'

In [39]:
s.find("m")

0

In [58]:
s.find("mn", s) #something is not avaliable it will return -1

TypeError: slice indices must be integers or None or have an __index__ method

In [63]:
#Task 01
s = "my name is"
s.find("name")

3

In [60]:
b = s.find("name")
for i in range(len("name")):
    print(b + i)

3
4
5
6

In [61]:
range(len("name"))

range(0, 4)

In [62]:
for i in range(len("name")):
    print(i)

0
1
2
3

In [65]:
s

'my name is'

In [66]:
s.count("m")

2

In [67]:
s.count("my")

1

In [68]:
s.split()

['my', 'name', 'is']

In [78]:
s = "My name is Vihusan, i like Apple, Banana and Pineapple"

In [70]:
s

'my name is vihusan, i like apple, banana and pineapple'

In [71]:
s.split(",")

['my name is vihusan', ' i like apple', ' banana and pineapple']

In [72]:
s.split("n")

['my ', 'ame is vihusa', ', i like apple, ba', 'a', 'a a', 'd pi', 'eapple']

In [73]:
type(s.split("n"))

list

In [74]:
s.upper()

'MY NAME IS VIHUSAN, I LIKE APPLE, BANANA AND PINEAPPLE'

In [75]:
s.lower()

'my name is vihusan, i like apple, banana and pineapple'

In [79]:
s.swapcase()

'mY NAME IS vIHUSAN, I LIKE aPPLE, bANANA AND pINEAPPLE'

In [80]:
" ".join(s)

'M y   n a m e   i s   V i h u s a n ,   i   l i k e   A p p l e ,   B a n a n a   a n d   P i n e a p p l e'

In [82]:
"*".join(s)

'M*y* *n*a*m*e* *i*s* *V*i*h*u*s*a*n*,* *i* *l*i*k*e* *A*p*p*l*e*,* *B*a*n*a*n*a* *a*n*d* *P*i*n*e*a*p*p*l*e'

In [85]:
reversed(s)

In [86]:
s[::-1]

'elppaeniP dna ananaB ,elppA ekil i ,nasuhiV si eman yM'

In [87]:
list(reversed(s))

['e',
 'l',
 'p',
 'p',
 'a',
 'e',
 'n',
 'i',
 'P',
 ' ',
 'd',
 'n',
 'a',
 ' ',
 'a',
 'n',
 'a',
 'n',
 'a',
 'B',
 ' ',
 ',',
 'e',
 'l',
 'p',
 'p',
 'A',
 ' ',
 'e',
 'k',
 'i',
 'l',
 ' ',
 'i',
 ' ',
 ',',
 'n',
 'a',
 's',
 'u',
 'h',
 'i',
 'V',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'M']

In [88]:
for i in reversed(s):
    print(i)

e
l
p
p
a
e
n
i
P

d
n
a

a
n
a
n
a
B

,
e
l
p
p
A

e
k
i
l

i

,
n
a
s
u
h
i
V

s
i

e
m
a
n

y
M

In [92]:
s = "            vithu                "

In [93]:
s

'            vithu                '

In [94]:
s.strip()

'vithu'

In [95]:
s.lstrip()

'vithu                '

In [96]:
s.rstrip()

'            vithu'

In [97]:
s = "          vi      thu          "

In [98]:
s.strip()

'vi      thu'

In [99]:
s = "greeting from code with vithu"

In [101]:
s.replace("g", "s")

'sreetins from code with vithu'

In [102]:
s.replace("g", "srr")

'srrreetinsrr from code with vithu'

In [103]:
s

'greeting from code with vithu'

In [104]:
s = s.replace("g", "srr")

In [105]:
s

'srrreetinsrr from code with vithu'

In [106]:
s[1] = "vvv"

TypeError: 'str' object does not support item assignment

In [107]:
s = "vithu"

In [108]:
s

'vithu'

In [114]:
s.center(10, "X")

'XXvithuXXX'

In [115]:
s.center(10, "XY")

TypeError: The fill character must be exactly one character long

In [118]:
s.center(50, "-")

'----------------------vithu-----------------------'

In [122]:
s = "vithu\tsha\tn"

In [120]:
s

'vithu\tshan'

In [123]:
s.expandtabs()

'vithu   sha     n'

#Task 02

a = "we all are a part of Full Stack"


1) Normalize all the string in lower case

2) Find number accuremcs "a" in data

3) Find all the locations of "a"

4) Replace all the "a" with "iNeuron"

5) Print all the word as a list.

In [125]:
a = "we all are a part of Full Stack"

In [127]:
#Question1
a.lower()

'we all are a part of full stack'

In [128]:
#Question2
a.count("a")

5

In [141]:
#Question3
for i in range(len(a)):
    if a[i] == "a":
        print(i)

3
7
11
14
28

In [145]:
a.replace("a", "iNeuron")

'we iNeuronll iNeuronre iNeuron piNeuronrt of Full StiNeuronck'

In [146]:
a.split()

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [169]:
s = "vithu"

In [148]:
s

'vithu'

In [168]:
s.isalnum()

False

In [167]:
s.isalpha()

False

In [166]:
s.isascii()

True

In [152]:
s.isdecimal()

False

In [170]:
s.isdigit()

False

In [154]:
s.isidentifier()

True

In [155]:
s.islower()

True

In [156]:
s.isnumeric()

False

In [157]:
s.isprintable()

True

In [163]:
s.isspace()

True

In [164]:
s.istitle()

False

In [165]:
s.isupper()

False

In [171]:
s.endswith("s")

False

In [172]:
s.endswith("u")

True

In [174]:
s.startswith("V")

False

In [175]:
s.startswith("v")

True

In [178]:
s.title()

'Vithu'

In [179]:
for i in s:
    print(i)

v
i
t
h
u

In [181]:
count = 0
for i in s:
    count = count + 1
print(count)

5

In [182]:
len(s)

5

In [183]:
for i in range(len(s)):
    print(i)

0
1
2
3
4

In [188]:
#Print in reverse order
for i in range(1, len(s) + 1):
    print(s[-i])

u
h
t
i
v

In [189]:
s = "vithu"
length = len(s) - 1;

while length >= 0:
    print(s[length])
    length = length - 1

u
h
t
i
v

In [191]:
name = "ireruon"
vowels = "AaEeIiOoUu"

for i in name:
    if i in vowels:
        print(f"{i} is a vowel")
    else:
        print("{} is not a vowel".format(i))

i is a vowel
r is not a vowel
e is a vowel
r is not a vowel
u is a vowel
o is a vowel
n is not a vowel

In [193]:
"{} name is vithu".format("my")

'my name is vithu'

In [194]:
"{} name {} vithu".format("my", "is")

'my name is vithu'

In [203]:
a = "A"
b = "B"

"{} name {} vithu".format(a, b)

'A name B vithu'

In [218]:
#Palindrome Task
word = input("Enter a data for which you would like to check palindrom : ")
reverse = word[: : -1]

if word == reverse:
    print("Input data is palindrome")
else:
    print("Input data is not a palidnrome")

Enter a data for which you would like to check palindrom : gkgkhn
Input data is not a palidnrome

## List in Python

In [20]:
lst = ["vithu", 23, 3.14, [1, 2], True, (2, 3), {4:5, 6:7}]

In [21]:
lst

['vithu', 23, 3.14, [1, 2], True, (2, 3), {4: 5, 6: 7}]

In [22]:
lst[0]

'vithu'

In [23]:
lst[0:3]

['vithu', 23, 3.14]

In [24]:
lst[::-1]

[{4: 5, 6: 7}, (2, 3), True, [1, 2], 3.14, 23, 'vithu']

In [25]:
lst

['vithu', 23, 3.14, [1, 2], True, (2, 3), {4: 5, 6: 7}]

In [26]:
s = "vithu"

In [27]:
lst + s

TypeError: can only concatenate list (not "str") to list

In [28]:
s = list(s)

In [30]:
lst + s

['vithu',
 23,
 3.14,
 [1, 2],
 True,
 (2, 3),
 {4: 5, 6: 7},
 'v',
 'i',
 't',
 'h',
 'u']

In [31]:
s

['v', 'i', 't', 'h', 'u']

In [32]:
lst.append(s)

In [33]:
lst

['vithu',
 23,
 3.14,
 [1, 2],
 True,
 (2, 3),
 {4: 5, 6: 7},
 ['v', 'i', 't', 'h', 'u']]

In [34]:
lst * 3

['vithu',
 23,
 3.14,
 [1, 2],
 True,
 (2, 3),
 {4: 5, 6: 7},
 ['v', 'i', 't', 'h', 'u'],
 'vithu',
 23,
 3.14,
 [1, 2],
 True,
 (2, 3),
 {4: 5, 6: 7},
 ['v', 'i', 't', 'h', 'u'],
 'vithu',
 23,
 3.14,
 [1, 2],
 True,
 (2, 3),
 {4: 5, 6: 7},
 ['v', 'i', 't', 'h', 'u']]

In [35]:
len(lst)

8

In [36]:
lst

['vithu',
 23,
 3.14,
 [1, 2],
 True,
 (2, 3),
 {4: 5, 6: 7},
 ['v', 'i', 't', 'h', 'u']]

In [37]:
"vithu" in lst

True

In [38]:
"v" in lst

False